name: Test Email
on: workflow_dispatch # Se lance manuellement

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Send test email
        uses: dawidd6/action-send-mail@v3
        with:
          server_address: smtp.gmail.com
          server_port: 465
          username: ${{ secrets.MAIL_USERNAME }}
          password: ${{ secrets.MAIL_PASSWORD }}
          subject: "Test GitHub Actions"
          to: TA_PROPRE_ADRESSE@gmail.com
          from: GitHub Action
          body: "Si tu reçois ça, tes secrets MAIL_USERNAME et MAIL_PASSWORD sont corrects !"